[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "JWileymisc"]
	path = JWileymisc
	url = https://github.com/jwiley/jwileymisc
[submodule "brmsmargins"]
	path = brmsmargins
	url = https://github.com/jwiley/brmsmargins
[submodule "extraoperators"]
	path = extraoperators
	url = https://github.com/jwiley/extraoperators
[submodule "multilevelTools"]
	path = multilevelTools
	url = https://github.com/jwiley/multileveltools
[submodule "pscore"]
	path = pscore
	url = https://github.com/jwiley/score-project
	subdir = pscore
[submodule "varian"]
	path = varian
	url = https://github.com/jwiley/varian
