[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "brmsmargins"]
	path = brmsmargins
	url = https://github.com/jwiley/brmsmargins
	shallow = true
	registered = true
[submodule "extraoperators"]
	path = extraoperators
	url = https://github.com/jwiley/extraoperators
	shallow = true
	registered = true
[submodule "JWileymisc"]
	path = JWileymisc
	url = https://github.com/jwiley/jwileymisc
	shallow = true
	registered = true
[submodule "multilevelTools"]
	path = multilevelTools
	url = https://github.com/jwiley/multileveltools
	shallow = true
	registered = true
